<h4>Skrolls</h4>
<% if !@skrolls.empty? %>
<div>
  <% @skrolls.each do |skroll| %>
    <p><%= link_to skroll.name, new_skroll_article_path(skroll) %></p>
  <% end %>
</div>
<% else %>
  <p>There are currently no skrolls</p>
<% end %>

<p><%= link_to "Add Skroll", new_skroll_path %></p>

